* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCard{
    max-width: 370px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 25px;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(8, 69, 101);
    padding: 3px;
}

.image .profileImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #fff;
}